{% assign projects = site.data.data.projects %}
{% if projects %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ projects.title }}
  </h2>

  {% if projects.intro %}
  <div class="intro">
      <p>{{ projects.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for project in projects.assignments %}
  <a href="{{ project.link }}">

    <div class="item">
      <div class="demo">
        <img src="{{ project.img }}" style=""/>

      </div>
      <div>
           <h2 class="project-title">
             <b>{{ project.title }}</b>
          </h2>



        {% if project.tagline %}
        <p class="project-tagline">{{ project.tagline }}</p>
        {% endif %}
        <ul class="project-source">
          <li>{{ project.source }}</li>
          </ul>
        <i style="float: right" class="project-platform">{{ project.platform }}</i>
      </div>



    </div>
  </a>
  <!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
